<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PainelAdmin</title>
</head>
<body>
    <form action="https://formspree.io/f/mbljrnkp" method="POST">
        <label>Nome</label>
        <input id="nome" type="text" name="name" placeholder="Digite seu nome" required>

        <label>Email</label>
        <input id="email" type="email" name="email" placeholder="Digite seu email" required>

        <label for="opcao">Agendar visita</label>
        <input type="radio" name="opcao" id="">
        <label for="opcao">Test drive</label>
        <input type="radio" name="opcao" id="">

        <label for="data">Data</label>
        <input type="datetime-local" name="" id="">


        <button type="submit">Enviar</button>
      </form>
</body>
</html>