<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>

<style>
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(53, 53, 53);
        width: 100%;
        height: 3000000000%;
    }

    #LogECad {
        display: flex;
    }
</style>

<body>
    <header>
        <div id="LogECad">
            <a href="/src/View/auth/login.html">Login</a>
            <a href="/src/View/auth/register.html">Cadastrar-se</a>
        </div>
        <div id="LogoInicio"></div>
        <h2>Home</h2>
        <h2>Estoque</h2>
        <h2>Sobre nós</h2>
    </header>

    <main>
        {% for v in veiculos %}
            <div class="item">
                <img src="/ProjetoTurmaB-Consessionaria/public/assets/img/{{ v.imagem }}" alt="{{ v.modelo }}">
                <p>{{ v.marca }} {{ v.modelo }} {{ v.cor }}</p>
                <a href="/ProjetoTurmaB-Consessionaria/veiculos/{{ v.id }}"><button>Ver detalhes</button></a>
            </div>
        {% endfor %}  
    </main>

    <footer>
        <p>Ousadia Motors &copy; 2024</p>
    </footer>

    <form id="logout" action="/ProjetoTurmaB-Consessionaria/" method="post">
        <input type="submit" value="Sair" />
    </form>
</body>

</html>