/* css geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* css da pagina de detalhes do veiculo */

.galeria{
    display: flex;
    padding: 8px;
    margin-left: 8px;
}

.setaDetalhes {
    font-size: 24px;
    padding: 8px 12px;
    background-color: white;
    cursor: pointer;
    align-items: center;
}

/* css do catalogo */

.seta {
    font-size: 24px;       
    font-weight: bold;       
    color: #333;           
    padding: 5px 10px;       
    border: 1px solid #ccc; 
    border-radius: 5px;      
    text-decoration: none;  
}

.seta:hover {
    background: #f0f0f0;
}