<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login - OUSADIA MOTORS</title>
		<link
			rel="stylesheet"
			href="/ProjetoTurmaB-Consessionaria/public/assets/css/auth.css" />
		<!-- LINK OBRIGATORIO PARA FUNCIONAR OS PINS-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
		<!-- favor colocar o css dentro do auth.css -->
	</head>
	<body>
		<!--CABEÇALHO PRINCIPAL (PARTE OBRIGATÓRIA DO SITE)-->
		<div name="topo">
			<header id="cabecalho">
				<h1>Ousadia Motors</h1>
				<hr />
				<nav id="menu-container">
					<ul class="menu">
						<li><a href="/ProjetoTurmaB-Consessionaria/">Home</a></li>
						<li><a href="#">Seminovos</a></li>
						<li><a href="#">Ofertas</a></li>
						<li><a href="#">Serviços</a></li>
						<li><a href="#">Novos</a></li>
						<li><a href="#">Sobre Nós</a></li>
					</ul>
					<div id="icones-direita">
						<a href="#" id="Agenda" title="Agenda"
							><i class="fa-solid fa-calendar-days"></i
						></a>
						<a href="#" id="pin" title="Localização"><i class="fa-solid fa-map-pin"></i></a>
						<a href="#" id="coracao" title="Favoritos"><i class="fa-solid fa-heart"></i></a>
						<a href="#" id="carrinho" title="Carrinho"
							><i class="fa-solid fa-cart-shopping"></i
						></a>
					</div>
				</nav>
				<hr />
			</header>
		</div>
		<!--FIM DO CABEÇALHO PRINCIPAL-->

		<div id="div_loginhtml">
			<div name="esquerda">
				<ul>
					<li>
						<a href="#" id="facebook"
							><i class="fa-brands fa-facebook-f"></i> Entrar com Facebook</a
						>
					</li>
					<li>
						<a href="#" id="google"
							><i class="fa-brands fa-google"></i> Entrar com Google</a
						>
					</li>
					<li>
						<a href="#" id="apple"><i class="fa-brands fa-apple"></i> Entrar com Apple</a>
					</li>
				</ul>
			</div>

			<div name="direita">
				<h1>Digite seu Email e Senha</h1>
				<form
					action="/ProjetoTurmaB-Consessionaria/login"
					method="post"
					id="form_loginhtml">
					<input
						name="Email_Usuario"
						type="email"
						id="Email_User_loginhtml"
						placeholder="E-mail"
						required />
					<input
						name="Senha_Usuario"
						type="password"
						id="Senha_User_loginhtml"
						placeholder="Senha"
						required />
					<a href="/ProjetoTurmaB-Consessionaria/register">Cadastre-se</a>
					<input name="EnviarLogin" type="submit" id="Enviar_loginhtml" value="Entrar" />
				</form>
			</div>
		</div>
	</body>
</html>
