<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Veículos - Concessionária</title>
    <link rel="stylesheet" href="/ProjetoTurmaB-Consessionaria/public/assets/css/style.css">
</head>
    <h1>Catalogo</h1>
    <!-- modelo da barra de pesquisa (necessária de ser colocada em algumas páginas pra gente poder pesquisar, igual no mercado livre por exemplo)-->
    <form action="/ProjetoTurmaB-Consessionaria/veiculos/pesquisar" method="GET">
        <input type="text" name="q" id="barraPesquisa" placeholder="Pesquisar marca, modelo, cor...">
        <button>Pesquisar</button>
        {% if pesquisa is defined %}
            <p>Resultados para: "{{ pesquisa }}"</p>
        {% endif %} 
        {% if pesquisa is defined and veiculos is empty %}
            <p id="pesquisaNaoEncontrada">Nenhum veículo encontrado.</p>
        {% endif %}
    </form>
    <!-- fim do modelo -->
    {% for v in veiculos %}
        <div class="item">
            <img src="/ProjetoTurmaB-Consessionaria/public/assets/img/{{ v.imagem }}" alt="{{ v.modelo }}">
            <p>{{ v.marca }} {{ v.modelo }} {{ v.cor }}</p>
            <a href="/ProjetoTurmaB-Consessionaria/veiculos/{{ v.id }}"><button>Ver detalhes</button></a>
        </div>
    {% endfor %}    

    <div class="botoesPaginacao">
        <a class="seta" href="?page={{ pagina - 1 }}">
            &lt;
        </a>

        <span>{{ pagina }}</span>

        <a class="seta" href="?page={{ pagina + 1 }}">
            &gt;
        </a>
    </div>
    
</body>
</html>