<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Veículo</title>
    <style>
        .imagem-veiculo {
            max-width: 100%;
            height: auto;
            margin: 20px 0;
            display: block;
        }
    </style>
</head>

<body>
    <h1>Detalhes do Veículo</h1>
    <form>
        <div>
            <img src="/ProjetoTurmaB-Consessionaria/public/assets/img/{{veiculo.imagem}}" alt="Foto">
            <p id="marca" name="marca">Marca: {{ veiculo.marca }}</p>
            <p id="modelo" name="modelo">Modelo: {{ veiculo.modelo }}</p>
            <p id="ano" name="ano">Ano: {{ veiculo.ano }}</p>
            <p id="preco" name="preco">R$ {{ veiculo.preco|number_format(2, ',', '.') }}</p>
            <p id="quilometragem" name="quilometragem">{{ veiculo.quilometragem }} km</p>
            <p id="combustivel" name="combustivel">Tipo de combustível:{{ veiculo.combustivel }}</p>
            <p id="cor" name="cor">Cor: {{ veiculo.cor }}</p>
            <p id="cambio" name="cambio">Cambio: {{ veiculo.cambio }}</p>
            <p id="finalPlaca" name="finalPlaca">Final da placa: {{ veiculo.final_placa }}</p>
            <p id="descricao" name="descricao">Descrição: {{ veiculo.descricao }}</p>
        </div>
    </form>
</body>

</html>